<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<div class="text-center">
			    	<h1>angular-authz</h1>
			    	<p>Authrorization for AngularJS applications</p>
			    	<p>
				    	<a class="btn btn-default btn-lg" role="button" href="https://github.com/maybenull/angular-authz"><i class="fa fa-github"></i> View on GitHub</a>

				    	<a class="btn btn-primary btn-lg" role="button" href="https://github.com/maybenull/angular-authz/tree/master/dist"><i class="fa fa-download"></i> Download</a>
				    </p>
			    </div>
			</div>
		</div>
	</div>
  	<div class="row">
  		<div class="col-md-4">
  			<h1>Why authz?</h1>
  			<p>
  				ngHide and ngShow are great for conditionally displaying HTML and simple logic in contorllers/services/etc. can further protect 
  				application resources.  But it's annoying to write essentially the same code in every new application.  angular-authz lets you
  				reuse the same authorization module accross most applications.
  			</p>
  		</div>
  		<div class="col-md-4">
  			<h1>Alternatives</h1>
  			<p>
  				Other AngularJS modules deal with role based access control.  angular-authz supports <a href="https://shiro.apache.org/permissions.html">Apache Shiro style permissions</a>. Choosing role or permission based access control is a server side issue, but using angular-authz allows you to leverage role based systems with a seamless upgrade to permission based systems.
  			</p>
  		</div>
  		<div class="col-md-4">
  			<h1>Extensiblity</h1>
  			<p>
  				angular-authz is a collection of angular constructs (directives, providers, etc) which out of the box supports most applications
  				needs.  But these constructs are exensible allowing developers to add custom permission types among other things.
  			</p>
  		</div>
  	</div>
</div>